body{
    margin: 0;
}

input{
    width: 25%;
    margin: 5px;
    height: 25px;
    border: 1px dotted lightblue;
}

#buttonContainer, #inputContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 5px;
}

input[type = "button"]{
    background-color: aqua;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    height: 25px;
}

input[type = "button"]:hover{
    background-color: rgb(23, 158, 158);
}

li.entry{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 5px;
    border: 2px solid peachpuff;
    padding: 1%;
}

.entry-value{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.delete-button{
    cursor: pointer;
    font-size: 20px;
}

.delete-button:hover{
    font-size: 22px;
    color: red;
    text-decoration: none !important;
}

.task-completed{
    text-decoration: line-through;
}