body{
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Monaco", Monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
}
.header{
    position: absolute;
    margin-top: 650px;
}
.clock{
    width: 600px;
    height: 250px;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: #000000 solid 5px;
    border-radius: 50px;
}
.clock:hover{
    background: #ffffff;
    color: #000000;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000000;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.weekday{
    margin-right: 20px;
}
.weekday:hover{
    color: coral;
}
.day:hover{
    color: cornflowerblue;
}
.month:hover{
    color: darkorange;
}
.year:hover{
    color: darkorchid;
}
.time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #000000;
}
.time:hover{
    color: crimson;
}
.link{
    position: absolute;
    margin-top: 305px;
    margin-left: 290px;
}
button{
    border: #1f1f1f solid 2px;
    border-radius: 50px;
    background-color: cornsilk;
    color:rgb(0, 0, 0);
}
button:hover{
    opacity: 0.7;
}
.source{
    position: absolute;
    margin-top: 303px;
    margin-left: 350px;
}
.coronadays{
    position: absolute;
    margin-top: 318px;
    margin-right: 20px;
}
.color{
    position: absolute;
    margin-top: 300px;
    margin-right: 370px;
}
p{
    color: #000000;
}